{% extends 'qbook/base.html' %} {% block title %}
<title>Password Reset Confirm</title>
{% endblock %} {% block styles %}
<style>
  .errorlist {
    height: 100px;
    text-align: center;
    padding: 10px 0;
  }
  .center {
    margin: 30px auto;
    width: 30%;
  }
  .btn-holder,
  h2,
  h4,
  p {
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
</style>
{% block tags %}{% endblock %} {% endblock %} {% block content %}

<div class="center">
  <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
  <br /><br />
  <h4>Please enter your new password</h4>
  <div class="errorlist">
    {% if form.errors %} {% for error in form.errors.values %}
    <p>{{ error }}</p>
    {% endfor %} {% endif %}
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">New Password</label>
      {{form.new_password1}}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label"
        >Confirm New Password</label
      >
      {{form.new_password2}}
    </div>
    <div class="btn-holder">
      <br /><br />
      <button class="btn btn-primary" type="submit">Reset password</button>
    </div>
  </form>
</div>
{% endblock %}
