{% extends 'qbook/base.html' %} {% block title %}
<title>Reset Password</title>
{% endblock %} {% block styles %}
<style>
  .center {
    margin: 30px auto;
    width: 30%;
  }
  .btn-holder,
  h2,
  p {
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
</style>
{% block tags %}{% endblock %} {% endblock %} {% block content %}

<div class="center">
  <h2 class="font-weight-bold mt-3">Reset Password</h2>
  <br /><br /><br />
  <p>
    Forgotten your password? Enter your email address below, and we'll email
    instructions for setting a new one.
  </p>
  <br /><br />
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Email</label>
      {{ form.email }}
    </div>
    <div class="btn-holder">
      <br />
      <button class="btn btn-primary" type="submit">Send email</button>
    </div>
  </form>
</div>
{% endblock %}
